# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries in Data Science
- Create tables to summarize Data Science tools
- Perform arithmetic operations in Python
- Convert minutes to hours using Pyhton expressions

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib

|Data Science Tools|
|------------------|
|Jupyter Notebooks |
|Apache Zeppelin   |
|RStudio           |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [5]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [8]:
hours = 200/60
print(round(hours,2))

3.33

## Author

Allison Huayapa